@tailwind base;
@tailwind components;
@tailwind utilities;


/*---- variables ---- */

:root{

    /*----Fonts ------*/
    --serif: 'Poppins', sans-serif;
    --cursive: 'Almendra SC', serif;


    /* --Main Colors, Dark:  */
    --black-50: #f6f6f6;
    --black-100: #e7e7e7;
    --black-200: #d1d1d1;
    --black-300: #b0b0b0;
    --black-400: #888888;
    --black-500: #6d6d6d;
    --black-600: #5d5d5d;
    --black-700: #4f4f4f;
    --black-800: #454545;
    --black-900: #3d3d3d;
    --black-950: #000000;

    /* --Box Shadow, Dark: */
    --box-black:0px 0px 20px 5px rgba(255,255,255,0.35);

    /* --Box Shadow, Light: */
    --box-white:0px 0px 20px 5px rgba(0,0,0,0.35);

    --transition-theme: background .5s ease-in-out, color 1s ease-in-out;
}

.dark{
    --bg:var(--black-900);
    --bg-items: var(--black-800);
    --text: var(--black-50);

}
.light{
    --bg:var(--black-50);
    --bg-items: var(--black-900);
    --text: var(--black-950);
}

/*------ general ------ */

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
html,body{
    background-color: var(--bg);
    color: var(--text);
    font-family: var(--serif);
    transition: var(--transition-theme);
}


/*------ header ------*/

header {
    height: 5rem;
    background:rgba(0, 0, 0, 0.623);
}
.mainImg{
    height: 250px;
    transform: translate(-50%,-50%);
    width: auto;
}
.mainLogo{
    transform: translate(-50%, -50%);
    color: var(--text);
    font-family: var(--cursive);
    transition: var(--transition-theme);
}
.themeSwitch {
    position: relative;
    width: 70px;
    height: 31px;
    margin: 0px;
    appearance: none;
    -webkit-appearance: none;
    background-color: var(--black-950);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;
    transition: background-image .7s ease-in-out;
    outline: none;
    cursor: pointer;
    overflow: hidden;
    box-shadow: var(--box-black);
    &:checked {
        background-color: rgb(0, 195, 255);
        background-size: cover;
        transition: background-image 1s ease-in-out;
        box-shadow: var(--box-white);
        &:after {
            animation: on .5s forwards cubic-bezier(.8, .5, .2, 1.4);
            box-shadow: inset -5px -5px 4px rgba(53, 53, 53, 0.3);
        }
        &:before {
            content: '';
            width: 15px;
            height: 15px;
            border-radius: 50%;
            position: absolute;
            left: 10px;
            top: 5px;
            transform-origin: 53px 10px;
            background-color: transparent;
            box-shadow: 5px -1px 0px #fff;
            filter: blur(0px);
            animation: sun .5s forwards ease;
        }
    }
    &:after {
        content: '';
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #fff;
        position: absolute;
        left: 8px;
        top: 5px;
        transform: translateX(0px);
        animation: off .5s forwards cubic-bezier(.8, .5, .2, 1.4);
        box-shadow: inset 5px -5px 4px rgba(53, 53, 53, 0.3);
    }
    &:before {
        content: '';
        width: 15px;
        height: 15px;
        border-radius: 50%;
        position: absolute;
        left: -40px;
        top: 5px;
        filter: blur(1px);
        background-color: #f5daaa;
        box-shadow: 0px 0px 10px #f5deb4,0px 0px 20px #f5deb4,0px 0px 30px #f5deb4,inset 0px 0px 2px #efd3a3;
        transform-origin: 53px 10px;
        animation: moon .5s forwards ease;
    }
}
@keyframes off {
    0% {transform: translateX(40px);width: 20px;}
    50% {width: 25px;border-radius: 25px;}
    100% {transform: translateX(0px);width: 20px;}
}
@keyframes on {
    0% {transform: translateX(0px);width: 20px;}
    50% {width: 25px;border-radius: 25px;}
    100% {transform: translateX(35px);width: 20px;}
}
@keyframes sun {
    0% {transform: rotate(170deg);background-color: transparent;box-shadow: 5px -1px 0px #fff;filter: blur(0px);}
    50% {background-color: transparent;box-shadow: 5px -1px 0px #fff;filter: blur(0px);}
    90% {background-color: #f5daaa;box-shadow: 0px 0px 10px #f5deb4,0px 0px 20px #f5deb4,0px 0px 30px #f5deb4, inset 0px 0px 2px #efd3a3;filter: blur(1px);}
    100% {transform: rotate(0deg);background-color: #f5daaa;box-shadow: 0px 0px 10px #f5deb4,0px 0px 20px #f5deb4,0px 0px 30px #f5deb4, inset 0px 0px 2px #efd3a3;filter: blur(1px);}
}
@keyframes moon {
    0% {transform: rotate(0deg);filter: blur(1px);}
    50% {filter: blur(1px);}
    90% {background-color: transparent;box-shadow: 5px -1px 0px #fff;filter: blur(0px);}
    100% {transform: rotate(170deg);background-color: transparent;box-shadow: 5px -1px 0px #fff;filter: blur(0px);}
}

.input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    position: relative;
    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0px;
        cursor: pointer;
        width: 50px;
        height: 50px;
        outline: none;
        border-radius: 2rem;
        pointer-events: painted;
        background-color: transparent;
        transition: .2s linear;
        &:hover{
            background-color: var(--black-400);
            box-shadow: var(--box-black);
            svg{
                path{
                    stroke: var(--black-50);
                }
            }
        }
        &:focus{
            border: none;
        }
        &::placeholder {
            color: var(--black-300);
        }
        &:focus ~ .input{
            box-shadow: none;
            width: 250px;
            border-radius: 2rem;
            padding-left: 19px;
            background-color: transparent;
            border: 2px solid var(--black-50);
            transition: all .3s ease-in-out;
        }
    }
    .input {
        border-style: none;
        height: 50px;
        width: 50px;
        padding: 10px;
        outline: none;
        border-radius: 50%;
        transition: .5s ease-in-out;
        background-color: transparent;
        border: 1px solid var(--black-800);
        padding-right: 40px;
        &:focus {
            box-shadow: none;
            width: 250px;
            border-radius: 2rem;
            padding-left: 19px;
            background-color: transparent;
            border: 2px solid var(--black-50);
            transition: all .3s ease-in-out;
        }
    }
}
.userIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    cursor: pointer;
    right: 70px;
    top: 12.5px;
    padding: 9.5px;
    outline: none;
    border: 1px solid var(--black-800);
    border-radius: 2rem;
    pointer-events: painted;
    background-color: transparent;
    transition:all .4s linear;
    &:hover{
        background-color: var(--black-400);
        box-shadow: var(--box-black);
        svg{
            stroke: var(--black-50);
        }
    }
}
.cartIcon{
    right: 12px;
}

/*------main-------- */



.imgDivClip{
    background-color: var(--bg-items);
    height: 15rem;
    clip-path: polygon(50% 0px, 100% 0px, 99.89% 32.08%, 50% 100%, 1px 37.92%, 0px 0px);
    transition: var(--transition-theme);
}