@tailwind base;
@tailwind components;
@tailwind utilities;


/*---- variables ---- */

:root{

    /*----Fonts ------*/
    --serif: 'Poppins', sans-serif;
    --cursive: 'Almendra SC', serif;


    /* --Main Colors--  */
    --black-50: #f6f6f6;
    --black-100: #e7e7e7;
    --black-200: #d1d1d1;
    --black-300: #b0b0b0;
    --black-400: #888888;
    --black-500: #6d6d6d;
    --black-600: #5d5d5d;
    --black-700: #4f4f4f;
    --black-800: #454545;
    --black-900: #3d3d3d;
    --black-950: #000000;

    /* --Box Shadow, Dark: */
    --box-black:0px 0px 20px 5px #ffffff59;

    /* --Box Shadow, Light: */
    --box-white:0px 0px 20px 5px #00000059;

    --transition-theme: background .5s ease-in-out, color 1s ease-in-out;
}

.dark{
    --bg:var(--black-900);
    --bg-items: var(--black-800);
    --text: var(--black-50);
    --shadow: var(--box-black);
    --border: var(--black-50);

}
.light{
    --bg:var(--black-50);
    --bg-items: var(--black-900);
    --text: var(--black-950);
    --shadow: var(--box-white);
    --border: var(--black-950);
}

/*------ general ------ */

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    background-color: var(--bg);
    color: var(--text);
    font-family: var(--serif);
    transition: var(--transition-theme);
}
.mainBtn {
    width: 200px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 1.5rem;
    background: linear-gradient(to right,#77530a,#ffd277,#77530a,#77530a,#ffd277,#77530a);
    background-size: 250%;
    background-position: left;
    color: var(--black-950);
    letter-spacing: .3rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 1s;
    overflow: hidden;
    &:focus{
        outline: 2px solid var(--black-950);
    }
    &::before {
        position: absolute;
        color: var(--black-950);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 97%;
        height: 90%;
        border-radius: 8px;
        transition-duration: 1s;
        background-color: rgba(0, 0, 0, 0.842);
        background-size: 200%;
    }
    &:hover {
        transform: scale(1.1);
        background-position: right;
        transition-duration: 1s;
        &::before {
            background-position: right;
            transition-duration: 1s;
        }
    }
    &:active {
        transform: scale(.8);
    }
}
.cancelBtn {
    width: 200px;
    height: 40px;
    display: flex;
    color: var(--black-50);
    align-items: center;
    justify-content: center;
    background: #c41b1b;
    border-radius: 1.5rem;
    transition: 200ms;
    span{
        transition: 200ms;
    }
    .icon {
        position: absolute;
        transform: translateX(50px) translateY(.5px);
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    svg {
        width: 15px;
        fill: var(--black-50);
    }
    &:hover {
        .text {
            color: transparent;
        }
        .icon {
            transform: translateX(0);
        }
    }
    &:focus {
        outline: none;
    }
    &:active{
        .icon{
            svg{
                transform: scale(0.8);
            }
        }
    }
}
.logoutBtn {
    width: 120px;
    .icon {
        transform: translateX(40px) translateY(0px);
    }
    svg {
        width: 12px;
    }
}




/*------ header ------*/

.themeSwitch{
    box-shadow: var(--shadow);
    outline: none;
}
.mainLogo{
    transition: var(--transition-theme);
}
@keyframes off {
    0% {transform: translateX(40px);width: 20px;}
    50% {width: 25px;border-radius: 25px;}
    100% {transform: translateX(0px);width: 20px;}
}
@keyframes on {
    0% {transform: translateX(0px);width: 20px;}
    50% {width: 25px;border-radius: 25px;}
    100% {transform: translateX(35px);width: 20px;}
}
@keyframes sun {
    0% {transform: rotate(170deg);background-color: transparent;box-shadow: 5px -1px 0px #fff;filter: blur(0px);}
    50% {background-color: transparent;box-shadow: 5px -1px 0px #fff;filter: blur(0px);}
    90% {background-color: #f5daaa;box-shadow: 0px 0px 10px #f5deb4,0px 0px 20px #f5deb4,0px 0px 30px #f5deb4, inset 0px 0px 2px #efd3a3;filter: blur(1px);}
    100% {transform: rotate(0deg);background-color: #f5daaa;box-shadow: 0px 0px 10px #f5deb4,0px 0px 20px #f5deb4,0px 0px 30px #f5deb4, inset 0px 0px 2px #efd3a3;filter: blur(1px);}
}
@keyframes moon {
    0% {transform: rotate(0deg);filter: blur(1px);}
    50% {filter: blur(1px);}
    90% {background-color: transparent;box-shadow: 5px -1px 0px #fff;filter: blur(0px);}
    100% {transform: rotate(170deg);background-color: transparent;box-shadow: 5px -1px 0px #fff;filter: blur(0px);}
}

.input-wrapper {
    .icon {
        &:hover{
            box-shadow: var(--box-black);
            svg{
                path{
                    stroke: var(--black-50);
                }
            }
        }
        &::placeholder {
            color: var(--black-300);
        }
        &:focus ~ .input{
            box-shadow: none;
            width: 250px;
            border-radius: 2rem;
            padding-left: 19px;
            background-color: transparent;
            border: 2px solid var(--black-50);
            transition: all .3s ease-in-out;
        }
    }
}
.userIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    cursor: pointer;
    right: 70px;
    top: 12.5px;
    padding: 9.5px;
    outline: none;
    border: 1px solid var(--black-800);
    border-radius: 2rem;
    pointer-events: painted;
    background-color: transparent;
    transition:all .4s linear;
    &:hover{
        background-color: var(--black-400);
        box-shadow: var(--box-black);
        svg{
            stroke: var(--black-50);
        }
    }
}
.cartIcon{
    right: 12px;
}

/*-----form overlay------------------*/

#logOverlay, #cartOverlay {
    background-color: rgba(0, 0, 0, 0.7);
    animation: overAnimation .5s linear;
}
#cartOverlay{
    #cart{
        border-top-left-radius: 4rem;
        border-bottom-left-radius: 4rem;
        animation: cartAnimation .5s linear;
        h2{
            font-family: var(--cursive);
        }
        .mainBtn {
            width: 180px;
            height: 50px;
        }
        .cancelBtn {
            width: 180px;
            height: 50px;
            .icon {
                transform: translateX(50px) translateY(0);
            }
            &:hover {
                .icon {
                    transform: translateX(0);
                }
            }
        }
    }
}
#logFormContainer {
    background-color: var(--black-900);
    animation: formAnimation .3s linear;
}
@keyframes overAnimation {
    0%{opacity: 0; pointer-events: none;};
    100%{opacity: 1; pointer-events: auto;};
}
@keyframes formAnimation {
    0%{top:55%};
    100%{top:50%};
}
.logContainer{
    label {
        pointer-events: none;
        transition: all .5s ease;
        color: var(--black-50);
    }
    input {
        color: var(--black-50);
        outline: none;
        transition: all .5s ease;
        &:hover{
            background: var(--black-700);
        }
        &:focus {
            background: var(--black-700);
            outline: none;
            border: 2px solid var(--black-950);
        }
        &:valid{
            background: var(--black-700);
        }
        &:focus ~ label{
            font-size: .9rem;
            top: -15px;
            left: 20px;
        }
        &:valid ~ label {
            font-size: .9rem;
            top: -15px;
            left: 20px;
        }
    }
}
@keyframes cartAnimation {
    0%{right: -100%;}
    100%{right:0;}
}
@media screen and (max-width: 640px){
    #cart{
        border-radius: 2rem;
    }
}

/*------main-------- */

.middleTitles{
    font-family: var(--cursive);
}
.imgDivClip{
    background-color: var(--bg-items);
    height: 15rem;
    clip-path: polygon(50% 0px, 100% 0px, 100% 32.08%, 50% 100%, 0px 37.92%, 0px 0px);
    transition: var(--transition-theme);
}
.mainBgImage{
    background-image: url(../assets/img/banners/mainBanner.webp);
    width: auto;
    height: 710px;
    background-size: cover;
    background-repeat: no-repeat;
}
@media screen and (min-width: 2000px) {
    .bgImageDiv{
        display: flex;
        justify-content: center;
        .mainBgImage{
            height: 900px;
            width: 1500px;
            border-radius: 2rem;
        }
    }
}

/*---------------Custom ---------------*/

.overlayCreated{
    background-color: rgba(0, 0, 0, 0.66);
    animation: overAnimation .3s linear;
    .alertShadow{
        box-shadow: var(--shadow);
    }
    div{
        background-color: var(--bg);
    }
}
.alertButton{
    padding-block: 7px;
    padding-inline: 20px;
    border-radius: 2rem;
    color: var(--black-50);
    background-color: var(--black-600);
    transition: all .3s ease-in-out;
    &:hover{
        transform: scale(1.1);
        background-color: var(--black-950);
    }
    &:active{
        transform: scale(.8);
    }
}
.denyButton{
    background-color: #c41b1b9c;
    &:hover{
        transform: scale(1.1);
        background-color: #c41b1b;
    }
    &:active{
        transform: scale(.8);
    }
}



/*---------------Sign up page---------------*/

.isInvalid{
    border: 2px solid rgb(173, 23, 23);
}



/*---------------Contact page---------------*/

