@tailwind base;
@tailwind components;
@tailwind utilities;


/*---- variables ---- */

:root{

    /*----Fonts ------*/
    --serif: 'Poppins', sans-serif;
    --cursive: 'Almendra SC', serif;


    /* --Main Colors, Dark:  */
    --black-50: #f6f6f6;
    --black-100: #e7e7e7;
    --black-200: #d1d1d1;
    --black-300: #b0b0b0;
    --black-400: #888888;
    --black-500: #6d6d6d;
    --black-600: #5d5d5d;
    --black-700: #4f4f4f;
    --black-800: #454545;
    --black-900: #3d3d3d;
    --black-950: #000000;

    /* --Box Shadow, Dark: */
    --box-black:0px 0px 20px 5px #ffffff59;

    /* --Box Shadow, Light: */
    --box-white:0px 0px 20px 5px #00000059;

    --transition-theme: background .5s ease-in-out, color 1s ease-in-out;
}

.dark{
    --bg:var(--black-900);
    --bg-items: var(--black-800);
    --text: var(--black-50);
    --shadow: var(--box-black);

}
.light{
    --bg:var(--black-50);
    --bg-items: var(--black-900);
    --text: var(--black-950);
    --shadow: var(--box-white);
}

/*------ general ------ */

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    background-color: var(--bg);
    color: var(--text);
    font-family: var(--serif);
    transition: var(--transition-theme);
}


/*------ header ------*/

.themeSwitch{
    -webkit-appearance: none;
    box-shadow: var(--shadow);
    outline: none;
}
.mainLogo{
    transition: var(--transition-theme);
}
@keyframes off {
    0% {transform: translateX(40px);width: 20px;}
    50% {width: 25px;border-radius: 25px;}
    100% {transform: translateX(0px);width: 20px;}
}
@keyframes on {
    0% {transform: translateX(0px);width: 20px;}
    50% {width: 25px;border-radius: 25px;}
    100% {transform: translateX(35px);width: 20px;}
}
@keyframes sun {
    0% {transform: rotate(170deg);background-color: transparent;box-shadow: 5px -1px 0px #fff;filter: blur(0px);}
    50% {background-color: transparent;box-shadow: 5px -1px 0px #fff;filter: blur(0px);}
    90% {background-color: #f5daaa;box-shadow: 0px 0px 10px #f5deb4,0px 0px 20px #f5deb4,0px 0px 30px #f5deb4, inset 0px 0px 2px #efd3a3;filter: blur(1px);}
    100% {transform: rotate(0deg);background-color: #f5daaa;box-shadow: 0px 0px 10px #f5deb4,0px 0px 20px #f5deb4,0px 0px 30px #f5deb4, inset 0px 0px 2px #efd3a3;filter: blur(1px);}
}
@keyframes moon {
    0% {transform: rotate(0deg);filter: blur(1px);}
    50% {filter: blur(1px);}
    90% {background-color: transparent;box-shadow: 5px -1px 0px #fff;filter: blur(0px);}
    100% {transform: rotate(170deg);background-color: transparent;box-shadow: 5px -1px 0px #fff;filter: blur(0px);}
}

.input-wrapper {
    .icon {
        &:hover{
            box-shadow: var(--box-black);
            svg{
                path{
                    stroke: var(--black-50);
                }
            }
        }
        &::placeholder {
            color: var(--black-300);
        }
        &:focus ~ .input{
            box-shadow: none;
            width: 250px;
            border-radius: 2rem;
            padding-left: 19px;
            background-color: transparent;
            border: 2px solid var(--black-50);
            transition: all .3s ease-in-out;
        }
    }
}
.userIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    cursor: pointer;
    right: 70px;
    top: 12.5px;
    padding: 9.5px;
    outline: none;
    border: 1px solid var(--black-800);
    border-radius: 2rem;
    pointer-events: painted;
    background-color: transparent;
    transition:all .4s linear;
    &:hover{
        background-color: var(--black-400);
        box-shadow: var(--box-black);
        svg{
            stroke: var(--black-50);
        }
    }
}
.cartIcon{
    right: 12px;
}

/*------main-------- */



.imgDivClip{
    background-color: var(--bg-items);
    height: 15rem;
    clip-path: polygon(50% 0px, 100% 0px, 99.89% 32.08%, 50% 100%, 1px 37.92%, 0px 0px);
    transition: var(--transition-theme);
}